

* {
    box-sizing: border-box;
}

.formulario {
    position: relative;
    float: right;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: rgba(17, 16, 16, 0.63);
}
.imagen-form{
    background-image: url("../img/piano_keys.jpg");
    height: 300px;
    width: 100%;
    position: absolute;

}
.imagen-form img{
    width: 100%;
    height: 350px;

}
hr{
    height: 5px;
    background-color: white;
}
h1{
    font-size: 27px;
    color: rgb(204, 255, 0);
}
.contacto{
    color: white;
    border: solid 1px blue;
    position: relative;
    float: left;
    top: 51px;
    left: 14px;
    width: 56%;
}

label{
    color: white;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.btn {
    background-color: rgb(204, 255, 0);;
    color: black;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
}